body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  float: left;
  width: 180px;
  height: 31px;
  margin: 16px 54px 16px 0px;
  padding-left: 15px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
