-r ../requirements.txt
pyro4
scikit-build
webcolors==1.10
dlib==19.19.0
face_recognition
norfair
facenet-pytorch
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/torch1.4/index.html
detectron2
scipy==1.5.4
scikit-fmm
scikit-image
tenacity