-r ../requirements.txt
pyro4
scikit-build
webcolors==1.10
face_recognition==1.3.0
norfair
facenet-pytorch
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu110/torch1.7/index.html
detectron2
scipy==1.6.2
scikit-fmm
scikit-image
tenacity
wordcloud
fuzzywuzzy
krovetz
