craftassist/agent/*.so
droidlet/lowlevel/minecraft/bin
craftassist/dashboard_data.db
craftassist/nsp_outputs.csv
craftassist/test/dashboard_data.db
craftassist/test/nsp_outputs.csv
locobot/agent/nsp_outputs.csv
locobot/test/nsp_outputs.csv
.coverage
droidlet.egg-info
logs
__pycache__
*.pyc
*.DS_Store
*.log
*.so
*.sql
!*memory_schema.sql
*~
base_agent/documents/internal/*.txt
bin/*
writeups/*.pdf
writeups/*.aux
writeups/*.gz
writeups/*.out
*.DS_Store
craftassist/agent/models/*
craftassist/agent/datasets/*
!craftassist/agent/models/.gitignore
*.gz
*.vscode
external_push
data_scripts/upload*
.mypy_cache
locobot/agent/models/*
locobot/agent/datasets/*
!locobot/agent/models/.gitignore
tools/annotation_tools/locobot_webcontrol/node_modules/*
tools/annotation_tools/locobot_webcontrol/package-lock.json
tools/annotation_tools/turk/turk_base_app/node_modules/
tools/annotation_tools/turk/turk_base_app/package-lock.json
chat.lock
incoming_chat.txt
locobot/test/test_assets/perception_handlers/
locobot/agent/dashboard_data.db*
nsp_outputs.csv
agents/locobot/models
agents/locobot/datasets
agents/locobot/dashboard_data.db
droidlet/perception/robot/tests/test_assets/perception_handlers
.ropeproject