[submodule "cuberite"]
	path = craftassist/server/cuberite
	url = https://github.com/cuberite/cuberite.git
[submodule "cuberite_plugins/lib/lua-struct"]
	path = craftassist/server/cuberite_plugins/lib/lua-struct
	url = https://github.com/iryont/lua-struct.git
