[submodule "droidlet/lowlevel/minecraft/client/pybind11"]
	path = droidlet/lowlevel/minecraft/client/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "droidlet/lowlevel/minecraft/client/lib/rapidjson"]
	path = droidlet/lowlevel/minecraft/client/lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "droidlet/lowlevel/minecraft/server/cuberite"]
	path = droidlet/lowlevel/minecraft/server/cuberite
	url = https://github.com/cuberite/cuberite.git
[submodule "droidlet/lowlevel/minecraft/server/cuberite_plugins/lib/lua-struct"]
	path = droidlet/lowlevel/minecraft/server/cuberite_plugins/lib/lua-struct
	url = https://github.com/iryont/lua-struct.git
[submodule "droidlet/lowlevel/minecraft/logging/lib/argparse"]
	path = droidlet/lowlevel/minecraft/logging/lib/argparse
	url = https://github.com/jonathathan/argparse.git
[submodule "polymetis/polymetis/src/clients/franka_panda_client/third_party/libfranka"]
	path = polymetis/polymetis/src/clients/franka_panda_client/third_party/libfranka
	url = git@github.com:frankaemika/libfranka.git

