[submodule "client/pybind11"]
	path = craftassist/client/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
[submodule "client/lib/rapidjson"]
	path = craftassist/client/lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "cuberite"]
	path = craftassist/server/cuberite
	url = https://github.com/cuberite/cuberite.git
[submodule "cuberite_plugins/lib/lua-struct"]
	path = craftassist/server/cuberite_plugins/lib/lua-struct
	url = https://github.com/iryont/lua-struct.git
[submodule "client/lib/argparse"]
	path = craftassist/logging/lib/argparse
	url = https://github.com/jonathathan/argparse.git
[submodule "base_agent/ttad/ttad_transformer_model/transformers"]
	path = base_agent/ttad/ttad_transformer_model/transformers
	url = https://github.com/huggingface/transformers.git
