flake8-mypy>=17.8.0
mypy-extensions>=0.4.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz
imantics>=0.1.12

matplotlib>=2.2.2
numpy>=1.18.1
python-Levenshtein>=0.12.1
scikit-learn>=0.23.1
snowballstemmer>=1.2.1
spacy==2.3.0
word2number>=1.1
transformers==3.3.1

awscli>=1.19.0
black>=18.9b0
boto3>=1.17.32
botocore>=1.15.0
cython>=0.29.14
decorator>=4.3.0
docopt>=0.6.2
docutils>=0.14
flake8>=3.5.0
mypy>=0.701
python-dateutil>=2.7.2
s3transfer>=0.3.3
sentry-sdk>=0.7.9
six>=1.11.0
tqdm>=4.41.1
coverage>=5.3
flask-cors>=3.0.9
flask>=1.1.2
prettytable>=2.0.0
python-socketio>=5.0.3
pytest>=6.2.2
pytest-cov>=2.11.1
jsonschema>=3.2.0
cloudflare>=2.8.15
cloudpickle>=1.6.0
