awscli>=1.18.0
black>=18.9b0
botocore>=1.15.0
cython>=0.29.14
decorator>=4.3.0
docopt>=0.6.2
docutils>=0.14
flake8>=3.5.0
flake8-mypy>=17.8.0
ipdb>=0.11
ipython-genutils>=0.2.0
ipython>=6.3.1
joblib>=0.11
matplotlib>=2.2.2
mypy-extensions>=0.4.1
mypy>=0.701
numpy>=1.18.1
python-dateutil>=2.7.2
python-Levenshtein>=0.12.1
s3transfer>=0.3.3
scikit-learn>=0.23.1
sentry-sdk>=0.7.9
six>=1.11.0
snowballstemmer>=1.2.1
spacy>=2.0.12
torch==1.7.1
torchvision>=0.5.0
tqdm>=4.41.1
word2number>=1.1
transformers==3.3.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
coverage>=5.3
flask-cors>=3.0.9
flask>=1.1.2
prettytable>=2.0.0
python-socketio>=5.0.3
pytest>=6.2.2
pytest-cov>=2.11.1
jsonschema>=3.2.0