.App {
  text-align: center;
  margin-top: 0px 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 20px;
}

.content {
  text-align: center;
  margin-top: 10px;
}

.below-nav {
  padding-top: 10px;
  max-height: 50vh;
}

#blocklyDiv {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.MuiInputBase-input {
  text-align: left !important;
}

.center {
  position: absolute;
  top: 55%;
  left: 50%;
  height: 85%;
  width: 95%;
  transform: translate(-50%, -50%);
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1),
    0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}
.chat .time {
  font-size: 0.8rem;
  background: #eee;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  color: #999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  z-index: 3;
}
.chat .messages {
  position: absolute;
  bottom: 4.5rem;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  height: calc(100% - 4.5rem);
  background: #f7f7f7;
  overflow-y: auto;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05),
    inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}
.chat .messages .messsages-content {
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

.chat .messages .messagesEnd {
  float: "left";
  clear: "both";
  bottom: 0;
}

#scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 1rem;
}

#scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.chat .messages .messagelist {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.chat .message-item {
  margin: 1rem;
}
.chat .answer-buttons {
  display: flex;
  margin: 1rem;
  margin-top: 0.5rem;
}

.chat .answer-buttons button {
  box-shadow: none;
  background-color: white;
}

.chat .answer-buttons .yes-button {
  margin-right: 1rem;
  border: 1px solid #4aa96c;
  color: #4aa96c;
}

.chat .answer-buttons .yes-button:hover {
  background-color: rgba(74, 169, 108, 0.1);
}

.chat .answer-buttons .no-button {
  margin-right: 1rem;
  border: 1px solid #f55c47;
  color: #f55c47;
}

.chat .answer-buttons .no-button:hover {
  background-color: rgba(245, 57, 57, 0.1);
}

.chat .answer-buttons .back-button {
  margin-right: 1rem;
  border: 1px solid #e67e00;
  color: #e67e00;
}

.chat .answer-buttons .back-button:hover {
  background-color: rgba(251, 240, 37, 0.1);
}

.chat .messages .message {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 66%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075),
    0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
  color: black;
  text-align: left;
  margin-top: 10px;
}

.chat .messages .message.user {
  margin: 1rem 1rem 1rem auto;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: #333;
  color: white;
  text-align: right;
}

.chat .reset {
  position: absolute !important;
  pointer-events: none;
  width: 100%;
  overflow: auto;
  bottom: 5.7rem;
  z-index: 3;
}

.chat .reset-button {
  box-shadow: 0 0 1rem rgb(0 0 0 / 10%), 0rem 1rem 1rem -1rem rgb(0 0 0 / 20%);
  pointer-events: all;
  color: red;
  letter-spacing: 0.025em;
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  background-color: darkgrey;
}

.chat .reset-button:hover {
  background-color: rgba(74, 169, 108, 0.1);
}

.chat .status {
  position: absolute !important;
  font-size: 1.0rem;
  background: rgba(71, 71, 71, 0.9);
  color: rgb(232, 232, 232);
  width: 100%;
  height: 1.2rem;
  bottom: 4.5rem;
  z-index: 3;
}

.chat .input {
  position: absolute;
  bottom: 0;
  box-sizing: content-box;
  min-width: 85%;
  margin: auto;
  flex-basis: auto;
  display: flex;
  align-items: center;
  padding: 1.25rem;
}
.chat .input i {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
  transition: color 200ms;
}
.chat .input i:hover {
  color: #333;
}
.chat .input input {
  border: none;
  background-image: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.125rem;
  flex-grow: 2;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1),
    0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.chat .input input:placeholder {
  color: #999;
}

@-webkit-keyframes typing {
  0%,
  75%,
  100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}

@keyframes typing {
  0%,
  75%,
  100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}

