-r ../../requirements.txt
norfair
facenet-pytorch
krovetz
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.10/index.html
detectron2
face_recognition
git+git://github.com/waspinator/pycococreator.git@0.2.0
pycocotools
yacs
