iframe {
    border-width: 0;
}

.container {
    width: 90%;
}

.instruction-gifs {
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    width: auto;
    height: auto;
}

.center {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row {
    padding: 10px;
}

#instructions {
    padding: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}