iframe {
    border-width: 0;
}

.container {
    width: 90%;
}

.instruction-gifs {
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    width: auto;
    height: auto;
}

.center {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row {
    padding: 10px;
}

#heading {
    position: relative;
    display: block;
    margin: auto;
    z-index: 10;
}

#complete-prompt {
    color: red;
    text-align: center;
}

.instructions-section {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

.instruction-headings {
    text-decoration: underline;
}

h2 {
    margin-top: 10px;
    font-size: 24px;
}

hr {
    margin: 0.25em;
}

.input-group {
    display: block;
}

.panel {
    margin-bottom: 0px;
}

#avatars-fig {
    float: right;
    margin: 10px;
}

#avatars {
    width: 200px; 
}

figcaption {
    font-weight: bold;
    text-align: center;
}