#world-container {
  position: relative;
}

#prompt {
  position: absolute;
  z-index: 101;
  background-color: transparent;
  width: 100%;
  overflow: hidden;
  text-align: center;
  top: 40%;
  left: 0;
  pointer-events: none;
  line-height: 2rem;
}

#prompt-text {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
}
