{% macro survey(instance_id, timestamp) %}
  <form action="/survey" method="POST" style="margin-top: 100px;">
    <input name="instance_id" type="hidden" value="{{instance_id}}" />
    <input name="timestamp" type="hidden" value="{{timestamp}}" />
    <div><b>Please complete this survey after interacting with the bot for 10 minutes</b></div>
    <div class="form-group">
      <label for="helpful-score">How helpful was the bot overall?</label>
      <select class="form-control" name="helpful-score">
        <option>1 - Not Very Helpful: The bot made everything harder.</option>
        <option>2 - Barely Helpful: The bot sometimes made things easier.</option>
        <option>3 - Helpful: The bot usually made thigns easier.</option>
        <option>4 - Very Helpful: The bot made everything easier. </option>
      </select>
    </div>
    <div class="form-group">
      <label for="bot-understanding-score">How well did the bot understand what you were saying?</label>
      <select class="form-control" name="bot-understanding-score">
        <option>1 - Never understood</option>
        <option>2 - Rarely understood</option>
        <option>3 - Most of the time understood</option>
        <option>4 - Always understood</option>
      </select>
    </div>
    <div class="form-group">
      <label for="fun-score">How much did you enjoy playing with the bot?</label>
      <select class="form-control" name="fun-score">
        <option>1 - Not At All: Minecraft is more fun without the bot </option>
        <option>2 - Somewhat: The bot made some activities more fun</option>
        <option>3 - A Lot: The bot was fun to play with</option>
        <option>4 - Very Much: The bot made Minecraft much more fun</option>
      </select>
    </div>
    <div class="form-group">
      <label for="appen-again">Would you want to join an appen trial with this bot again?</label>
      <select class="form-control" name="appen-again">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="play-in-free-time">Would you play with the bot in your free time?</label>
      <select class="form-control" name="play-in-free-time">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="recommend-bot">Would you recommend the bot to other people?</label>
      <select class="form-control" name="recommend-bot">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="frustrating-q">What was most frustrating when interacting with the bot? Please be as detailed as possible.</label>
      <textarea class="form-control" name="frustrating-q"></textarea>
    </div>
    <div class="form-group">
      <label for="new-commands-q">What new commands would you like for the bot to be able to handle? Please give some examples.</label>
      <textarea class="form-control" name="new-commands-q"></textarea>
    </div>
    <div class="form-group">
      <label for="new-dialogues-q">What kinds of dialogues would you like for the bot to be able to have? Please give some examples.</label>
      <textarea class="form-control" name="new-dialogues-q"></textarea>
    </div>
    <div class="form-group">
      <label for="new-capabilities-q">What else would you like for the bot to be able to do?</label>
      <textarea class="form-control" name="new-capabilities-q"></textarea>
    </div>
    <input type="submit" class="btn btn-primary"/ >
  </form>
{% endmacro %}
